NODE_ENV=development

PUBLIC_LOCAL_STORAGE =./temp

######################################################################

SYSTEM_NAME=<your-system-name> # e.g. "American Heart Association" or "REAN Foundation"

BACKEND_API_URL          = <backend-api-url> #http://localhost:7272/api/v1
CAREPLAN_BACKEND_API_URL = <careplan-api-url> #http://localhost:3456/api/v1
AWARDS_BACKEND_API_URL   = <awards-api-url> #http://localhost:2345/api/v1
API_CLIENT_INTERNAL_KEY  = <backend-api-key>
CAREPLAN_SERVICE_API_KEY = <careplan-api-key>
AWARDS_SERVICE_API_KEY   = <awards-api-key>
CLIENT_ID                = <client-id-of-this-webapp-in-reancare>

####################################################################
