:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: 'Montserrat', sans-serif;
	--theme-font-family-heading: 'Montserrat', sans-serif;
	--theme-font-color-base: var(--color-surface-900);
	--theme-font-color-dark: var(--color-surface-50);
	--theme-rounded-base: 6px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 255 255 255;
	--on-secondary: 255 255 255;
	--on-tertiary: 255 255 255;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 0 0 0;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #5832A1 */
	--color-primary-50: 230 224 241; /* ⬅ #e6e0f1 */
	--color-primary-100: 222 214 236; /* ⬅ #ded6ec */
	--color-primary-200: 213 204 232; /* ⬅ #d5cce8 */
	--color-primary-300: 188 173 217; /* ⬅ #bcadd9 */
	--color-primary-400: 138 112 189; /* ⬅ #8a70bd */
	--color-primary-500: 88 50 161; /* ⬅ #5832A1 */
	--color-primary-600: 79 45 145; /* ⬅ #4f2d91 */
	--color-primary-700: 66 38 121; /* ⬅ #422679 */
	--color-primary-800: 53 30 97; /* ⬅ #351e61 */
	--color-primary-900: 43 25 79; /* ⬅ #2b194f */
	/* secondary | #7165E3 */
	--color-secondary-50: 234 232 251; /* ⬅ #eae8fb */
	--color-secondary-100: 227 224 249; /* ⬅ #e3e0f9 */
	--color-secondary-200: 220 217 248; /* ⬅ #dcd9f8 */
	--color-secondary-300: 198 193 244; /* ⬅ #c6c1f4 */
	--color-secondary-400: 156 147 235; /* ⬅ #9c93eb */
	--color-secondary-500: 113 101 227; /* ⬅ #7165E3 */
	--color-secondary-600: 102 91 204; /* ⬅ #665bcc */
	--color-secondary-700: 85 76 170; /* ⬅ #554caa */
	--color-secondary-800: 68 61 136; /* ⬅ #443d88 */
	--color-secondary-900: 55 49 111; /* ⬅ #37316f */
	/* tertiary | #0EA5E9 */
	--color-tertiary-50: 219 242 252; /* ⬅ #dbf2fc */
	--color-tertiary-100: 207 237 251; /* ⬅ #cfedfb */
	--color-tertiary-200: 195 233 250; /* ⬅ #c3e9fa */
	--color-tertiary-300: 159 219 246; /* ⬅ #9fdbf6 */
	--color-tertiary-400: 86 192 240; /* ⬅ #56c0f0 */
	--color-tertiary-500: 14 165 233; /* ⬅ #0EA5E9 */
	--color-tertiary-600: 13 149 210; /* ⬅ #0d95d2 */
	--color-tertiary-700: 11 124 175; /* ⬅ #0b7caf */
	--color-tertiary-800: 8 99 140; /* ⬅ #08638c */
	--color-tertiary-900: 7 81 114; /* ⬅ #075172 */
	/* success | #36D399 */
	--color-success-50: 225 248 240; /* ⬅ #e1f8f0 */
	--color-success-100: 215 246 235; /* ⬅ #d7f6eb */
	--color-success-200: 205 244 230; /* ⬅ #cdf4e6 */
	--color-success-300: 175 237 214; /* ⬅ #afedd6 */
	--color-success-400: 114 224 184; /* ⬅ #72e0b8 */
	--color-success-500: 54 211 153; /* ⬅ #36D399 */
	--color-success-600: 49 190 138; /* ⬅ #31be8a */
	--color-success-700: 41 158 115; /* ⬅ #299e73 */
	--color-success-800: 32 127 92; /* ⬅ #207f5c */
	--color-success-900: 26 103 75; /* ⬅ #1a674b */
	/* warning | #FBBD23 */
	--color-warning-50: 254 245 222; /* ⬅ #fef5de */
	--color-warning-100: 254 242 211; /* ⬅ #fef2d3 */
	--color-warning-200: 254 239 200; /* ⬅ #feefc8 */
	--color-warning-300: 253 229 167; /* ⬅ #fde5a7 */
	--color-warning-400: 252 209 101; /* ⬅ #fcd165 */
	--color-warning-500: 251 189 35; /* ⬅ #FBBD23 */
	--color-warning-600: 226 170 32; /* ⬅ #e2aa20 */
	--color-warning-700: 188 142 26; /* ⬅ #bc8e1a */
	--color-warning-800: 151 113 21; /* ⬅ #977115 */
	--color-warning-900: 123 93 17; /* ⬅ #7b5d11 */
	/* error | #F87272 */
	--color-error-50: 254 234 234; /* ⬅ #feeaea */
	--color-error-100: 254 227 227; /* ⬅ #fee3e3 */
	--color-error-200: 253 220 220; /* ⬅ #fddcdc */
	--color-error-300: 252 199 199; /* ⬅ #fcc7c7 */
	--color-error-400: 250 156 156; /* ⬅ #fa9c9c */
	--color-error-500: 248 114 114; /* ⬅ #F87272 */
	--color-error-600: 223 103 103; /* ⬅ #df6767 */
	--color-error-700: 186 86 86; /* ⬅ #ba5656 */
	--color-error-800: 149 68 68; /* ⬅ #954444 */
	--color-error-900: 122 56 56; /* ⬅ #7a3838 */
	/* surface | #495a8f */
	--color-surface-50: 245 246 250;
	--color-surface-100: 231 234 243;
	--color-surface-200: 201 208 227;
	--color-surface-300: 171 181 212;
	--color-surface-400: 130 145 191;
	--color-surface-500: 73 90 143;
	--color-surface-600: 67 83 132;
	--color-surface-700: 55 68 108;
	--color-surface-800: 45 56 88;
	--color-surface-900: 31 38 61;
}
